--extra-index-url https://download.pytorch.org/whl/cpu
torch

# Core Streamlit & Web App
streamlit
pypdf
reportlab
python-dotenv
pydantic

# LangGraph & LangChain (For Agents & Gemini)
langgraph
langchain
langchain-core
langchain-google-genai

# LlamaIndex & Vector DB (For Pinecone & Local BGE Embeddings)
llama-index-core
llama-index-vector-stores-pinecone
llama-index-embeddings-huggingface
pinecone-client

# ML & Data Science
scikit-learn
pandas
numpy