--extra-index-url https://download.pytorch.org/whl/cpu
torch

google-api-core>=2.19.0
google-generativeai>=0.8.0
proto-plus>=1.24.0
googleapis-common-protos>=1.63.0

# Core Streamlit & Web App
streamlit
pypdf
reportlab
python-dotenv
pydantic

# LangGraph & LangChain (For Agents & Gemini)
langgraph
langchain
langchain-core
langchain-google-genai

# LlamaIndex & Vector DB (For Pinecone & Local BGE Embeddings)
llama-index-core
llama-index-vector-stores-pinecone
llama-index-embeddings-huggingface
pinecone-client

# ML & Data Science
scikit-learn
pandas
numpy